
<div id="category">
  <h1><%=page.category%></h1>
  <% page.posts.each(function(article) { %>
    <div class="category-item">
      <% if (article.link) { %>
        <a href="<%=url_for(article.link)%>" target="_blank">
          <%=article.title || 'No Title'%>
        </a>
      <% } else { %>
        <a href="<%=url_for(article.path)%>">
          <%=article.title || 'No Title'%>
        </a>
      <% } %>
      <time datetime="<%=date_xml(article.date)%>">
        <%=date(article.date)%>
      </time>
    </div>
  <% }); %>
</div>

<%-partial('partials/pagination')%>
