<div class="home">
  <div class="content">
    <div class="profile">
      <h1 class="nickname"><%= theme.nickname %></h1>
      <div class="description">
        <p><%- markdown(theme.description) %></p>
      </div>
    </div>
    <hr/>
  </div>
</div>
    <ul class="footer-links">
      <% for (var key in theme.links) { %>
        <li>
	  <% if (theme.icons){ %>
            <a href="<%- url_for(theme.links[key]) %>"><span class="fa fa-<%= key %>"></span></a>
	  <% } else { %>
	    <a href="<%- url_for(theme.links[key]) %>"><%= key %></a>
	  <% } %>
        </li>
      <% } %>
    </ul>
